d-i debian-installer/locale string en_US
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select en
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string docker
d-i netcfg/get_domain string sandbox.2021.ctf.hitb.org
d-i netcfg/wireless_wep string
d-i hw-detect/load_firmware boolean true
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.ru.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i passwd/make-user boolean true
d-i passwd/root-password password root@docker.sandbox.2021.ctf.hitb.org
d-i passwd/root-password-again password root@docker.sandbox.2021.ctf.hitb.org
d-i passwd/user-fullname string Packer
d-i passwd/username string packer
d-i passwd/user-password password packer@docker.sandbox.2021.ctf.hitb.org
d-i passwd/user-password-again password packer@docker.sandbox.2021.ctf.hitb.org

d-i clock-setup/utc boolean true

d-i time/zone string Asia/Singapore

d-i clock-setup/ntp boolean true
# NTP server to use. The default is almost always fine here.
#d-i clock-setup/ntp-server string ntp.example.com

d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-auto-lvm/guided_size string max
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i apt-setup/local0/repository string https://download.docker.com/linux/debian stretch stable
d-i apt-setup/local0/comment string docker
d-i apt-setup/local0/key string https://download.docker.com/linux/debian/gpg

d-i partman-md/confirm boolean true

d-i base-installer/install-recommends boolean false
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

tasksel tasksel/first multiselect minimal
d-i pkgsel/include string openssh-server apt-transport-https ca-certificates curl gnupg2 software-properties-common
d-i pkgsel/upgrade select none

apt-cdrom-setup apt-setup/cdrom/set-first boolean false
popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev  string default

d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean false

d-i preseed/late_command string  \
    sed -i -e /docker/s/#// /target/etc/apt/sources.list ; \
    in-target apt-get update ; \
    in-target apt-get install -y docker-ce ; \
    in-target usermod -a -G root packer ; \
    in-target apt-get install -y sudo ; \
    echo "packer ALL=(ALL:ALL) NOPASSWD:ALL" > /target/etc/sudoers.d/packer ;
