- hosts: checkers, master
  tasks:
  - name: sync catalog
    synchronize:
      src: "../checkers"
      dest: "{{ cs_dir }}"
    tags: sync

  - name: checkers owner
    file:
      path: "{{ cs_dir }}/checkers"
      owner: "{{ cs_user }}"
      group: "{{ cs_user }}"
      recurse: yes
    tags: sync

  - name: install sys deps
    apt:
      name:
        - g++
        - make
        - libssl-dev
        - python3-pip
        - sudo
      install_recommends: no

  - name: cs sudo rules
    copy:
      content: "{{ cs_user }} ALL = NOPASSWD: {{ cs_dir }}/checkers/fw/fw.checker.py\n"
      dest: /etc/sudoers.d/cs
      owner: root
      group: root
      mode: 0440

  - name: dotnet repo keys
    apt:
      deb: https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb

  - name: install net-sdk
    apt:
      name:
       - dotnet-sdk-5.0
      state: latest
      update_cache: yes

  - name: build svghost checker
    shell:
    args:
      cmd: dotnet publish -c Release
      chdir: "{{ cs_dir }}/checkers/svghost/src"
    become: yes
    become_user: "{{ cs_user }}"

  - name: python deps
    pip:
      executable: pip3
      requirements: "{{ cs_dir }}/checkers/{{ item }}/requirements.txt"
    loop:
      - sandbox
      - xar
      - passman
      - secure-mail
      - fw
